in this notebook we will create one dataset from datasets:
* https://www.kaggle.com/datasets/sidarcidiacono/news-sentiment-analysis-for-stock-data-by-company
* https://www.kaggle.com/datasets/sbhatti/financial-sentiment-analysis/data
* https://www.kaggle.com/datasets/ankurzing/aspect-based-sentiment-analysis-for-financial-news

In [459]:
import kagglehub
import numpy as np
import pandas as pd 
import os
import nltk

In [460]:
# download data
path1 = kagglehub.dataset_download("sidarcidiacono/news-sentiment-analysis-for-stock-data-by-company")
path2 = kagglehub.dataset_download("sbhatti/financial-sentiment-analysis")
path3 = kagglehub.dataset_download("ankurzing/aspect-based-sentiment-analysis-for-financial-news")

# get csv
# dataset 1
csv1 = os.path.join(path1,"djia_news copy.csv", "djia_news copy.csv")
csv2 = os.path.join(path1,"nasdaq.csv", "nasdaq.csv")

# dataset 2
csv3 = os.path.join(path2, "data.csv")

#dataset 3 
csv4 = os.path.join(path3, "SEntFiN-v1.1.csv")

In [461]:
# make dataframe
df1 = pd.read_csv(csv1)
df2 = pd.read_csv(csv2)
df3 = pd.read_csv(csv3)
df4 = pd.read_csv(csv4)

let's create on big df

In [462]:
df1

      Label Ticker                                           Headline
0         0    MMM  Employer who stole nearly $3M in wages from 15...
1         1    MMM  Huge new Facebook data leak exposed intimate d...
2         0    MMM  A campaign has accelerated to turn a disused r...
3         1    MMM  Google launches global human trafficking helpl...
4         1    MMM  Over 3m Saudi Women Don’t Have ID Cards; Saudi...
...     ...    ...                                                ...
2376      0    WMT  Walmart dumps e-cigarettes: Largest store in U...
2377      0    WMT  Walmart makes a $16 billion bet on India's boo...
2378      0    WMT  Walmart raises minimum age to buy tobacco to 2...
2379      0    WMT  Walmart Took Over Chile In Only Three Years An...
2380      2    WMT  Carla Cheney: Walmart Fired Me For Reporting D...

[2381 rows x 3 columns]

In [463]:
df1 = df1.drop(columns=['Ticker'])
df1.columns = ['Sentiment', "Headline"]
df1

      Sentiment                                           Headline
0             0  Employer who stole nearly $3M in wages from 15...
1             1  Huge new Facebook data leak exposed intimate d...
2             0  A campaign has accelerated to turn a disused r...
3             1  Google launches global human trafficking helpl...
4             1  Over 3m Saudi Women Don’t Have ID Cards; Saudi...
...         ...                                                ...
2376          0  Walmart dumps e-cigarettes: Largest store in U...
2377          0  Walmart makes a $16 billion bet on India's boo...
2378          0  Walmart raises minimum age to buy tobacco to 2...
2379          0  Walmart Took Over Chile In Only Three Years An...
2380          2  Carla Cheney: Walmart Fired Me For Reporting D...

[2381 rows x 2 columns]

In [464]:
df2 = df2.drop(columns=['Ticker'])
df2.columns = ['Sentiment', "Headline"]
df2

       Sentiment                                           Headline
0              0  @TotesTravel : Airline shares tumble as New Yo...
1              1  @TotesTravel : American United call off Hong K...
2              0  @TotesTravel : U.S. airline stocks hit highest...
3              1  @TotesTravel : American Airlines reaches deal ...
4              1  @TotesTravel : US airlines Treasury Department...
...          ...                                                ...
13176          1  Bitcoin Tops $1000 Again as Zynga Accepts Virt...
13177          1        Zynga Accepts Bitcoin For Microtransactions
13178          1  Zumiez (ZUMZ) unusual put activity into earnin...
13179          1                           Zumiez Is Going Bankrupt
13180          1                   Zumiez Is Going Bankrupt!! Omfg!

[13181 rows x 2 columns]

In [465]:
map_dict = {'positive': 2,
            'neutral': 1,
            'negative': 0}

df3['Sentiment'] = df3['Sentiment'].map(map_dict)
df3.columns = ['Headline', "Sentiment"]
df3

                                               Headline  Sentiment
0     The GeoSolutions technology will leverage Bene...          2
1     $ESI on lows, down $1.50 to $2.50 BK a real po...          0
2     For the last quarter of 2010 , Componenta 's n...          2
3     According to the Finnish-Russian Chamber of Co...          1
4     The Swedish buyout firm has sold its remaining...          1
...                                                 ...        ...
5837  RISING costs have forced packaging producer Hu...          0
5838  Nordic Walking was first used as a summer trai...          1
5839  According shipping company Viking Line , the E...          1
5840  In the building and home improvement trade , s...          1
5841  HELSINKI AFX - KCI Konecranes said it has won ...          2

[5842 rows x 2 columns]

In [466]:
import json
df4 = df4.drop(columns=['S No.', 'Words'])
df4.columns = ['Headline', 'Sentiment']

def fun_map(j):
    data = json.loads(j)
    sentiment = [map_dict[value] for key, value in data.items()]    
    return sum(sentiment) / len(sentiment)

df4['Sentiment'] = df4['Sentiment'].map(fun_map)

df4

                                                Headline  Sentiment
0      SpiceJet to issue 6.4 crore warrants to promoters        1.0
1                      MMTC Q2 net loss at Rs 10.4 crore        1.0
2      Mid-cap funds can deliver more, stay put: Experts        2.0
3                 Mid caps now turn into market darlings        2.0
4      Market seeing patience, if not conviction: Pra...        1.0
...                                                  ...        ...
10748       Negative on Chambal, Advanta: Mitesh Thacker        0.0
10749     Small, Mid-cap stocks may emerge outperformers        2.0
10750                      Rupee slips against US dollar        0.5
10751                       Rupee weak against US dollar        0.5
10752                Australia shares flat; energy drags        1.0

[10753 rows x 2 columns]

In [467]:
df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)
df['Sentiment'] = df['Sentiment'].map(lambda x: x / 2)
df

       Sentiment                                           Headline
0           0.00  Employer who stole nearly $3M in wages from 15...
1           0.50  Huge new Facebook data leak exposed intimate d...
2           0.00  A campaign has accelerated to turn a disused r...
3           0.50  Google launches global human trafficking helpl...
4           0.50  Over 3m Saudi Women Don’t Have ID Cards; Saudi...
...          ...                                                ...
32152       0.00       Negative on Chambal, Advanta: Mitesh Thacker
32153       1.00     Small, Mid-cap stocks may emerge outperformers
32154       0.25                      Rupee slips against US dollar
32155       0.25                       Rupee weak against US dollar
32156       0.50                Australia shares flat; energy drags

[32157 rows x 2 columns]

now we have to clean dataset

In [468]:
df.iloc[2]['Headline']

'A campaign has accelerated to turn a disused railway line in Yorkshire into England’s longest cycle tunnel – instead of using £3m of public money to close it for ever. Campaigners say they could enhance West Yorkshire’s health and economy by converting an old railway line.'

In [469]:
import sys
import os

def punctuation_removal(text: str) -> str: 
    return "".join([u for u in text if u == ' ' or u == "'" or ord('0') <= ord(u) <= ord('9') or ord('a') <= ord(u) <= ord('z') or ord('A') <= ord(u) <= ord('Z')])

df['Headline'] = df['Headline'].map(punctuation_removal)
df['Headline']

0        Employer who stole nearly 3M in wages from 157...
1        Huge new Facebook data leak exposed intimate d...
2        A campaign has accelerated to turn a disused r...
3        Google launches global human trafficking helpl...
4        Over 3m Saudi Women Dont Have ID Cards Saudi G...
                               ...
32152           Negative on Chambal Advanta Mitesh Thacker
32153         Small Midcap stocks may emerge outperformers
32154                        Rupee slips against US dollar
32155                         Rupee weak against US dollar
32156                   Australia shares flat energy drags
Name: Headline, Length: 32157, dtype: object

In [470]:
df['Headline'].iloc[3] # we have to remove &amp;

'Google launches global human trafficking helpline amp data network  Commits 3M 2M to build an international helpline network fueled by data Human trafficking enslaves 21M people with 25M forced into labor Most are ages 1824 amp 43 are forced into the sex trade'

In [471]:
df['Headline'] = df['Headline'].map(lambda s: s.replace('amp', '').lower())
df['Headline'].iloc[3]

'google launches global human trafficking helpline  data network  commits 3m 2m to build an international helpline network fueled by data human trafficking enslaves 21m people with 25m forced into labor most are ages 1824  43 are forced into the sex trade'

In [472]:
df

       Sentiment                                           Headline
0           0.00  employer who stole nearly 3m in wages from 157...
1           0.50  huge new facebook data leak exposed intimate d...
2           0.00  a caign has accelerated to turn a disused rail...
3           0.50  google launches global human trafficking helpl...
4           0.50  over 3m saudi women dont have id cards saudi g...
...          ...                                                ...
32152       0.00         negative on chambal advanta mitesh thacker
32153       1.00       small midcap stocks may emerge outperformers
32154       0.25                      rupee slips against us dollar
32155       0.25                       rupee weak against us dollar
32156       0.50                 australia shares flat energy drags

[32157 rows x 2 columns]

now we have to analyse dataset

In [473]:
words = {}
for column in df['Headline']:
    for word in column.split(): 
        words[word] = words.get(word, 0) + 1

sorted_words = sorted(words.items(), key=lambda x: x[1], reverse=True)
sorted_words

[('the', 16003),
 ('to', 13799),
 ('of', 11258),
 ('in', 11254),
 ('and', 7667),
 ('a', 7373),
 ('on', 5918),
 ('for', 5616),
 ('as', 3092),
 ('is', 3025),
 ('from', 2713),
 ('with', 2626),
 ('by', 2612),
 ('at', 2453),
 ('that', 1964),
 ('has', 1930),
 ('it', 1776),
 ('its', 1748),
 ('us', 1737),
 ('will', 1723),
 ('be', 1619),
 ('rs', 1587),
 ('up', 1547),
 ('after', 1514),
 ('net', 1452),
 ('new', 1433),
 ('over', 1388),
 ('company', 1338),
 ('eur', 1284),
 ('an', 1200),
 ('are', 1180),
 ('profit', 1165),
 ('have', 1128),
 ('first', 1111),
 ('was', 1077),
 ('bank', 1052),
 ('market', 1028),
 ('stocks', 1008),
 ('million', 977),
 ('said', 973),
 ('inc', 956),
 ("'s", 948),
 ('crore', 941),
 ('shares', 898),
 ('says', 856),
 ('down', 837),
 ('group', 827),
 ('india', 811),
 ('more', 804),
 ('china', 798),
 ('not', 764),
 ('mn', 763),
 ('sales', 708),
 ('global', 706),
 ('their', 706),
 ('this', 703),
 ('may', 697),
 ('oil', 696),
 ('news', 684),
 ('year', 675),
 ('than', 659),
 ('per', 631),
 ('about', 625),
 ('power', 617),
 ('out', 615),
 ('stock', 605),
 ('corporation', 601),
 ('world', 594),
 ('been', 587),
 ('government', 579),
 ('into', 561),
 ('financial', 551),
 ('against', 547),
 ('energy', 540),
 ('finnish', 530),
 ('billion', 520),
 ('companies', 518),
 ('services', 492),
 ('now', 491),
 ('quarter', 489),
 ('one', 488),
 ('apple', 487),
 ('capital', 479),
 ('top', 474),
 ('which', 468),
 ('chinese', 466),
 ('all', 463),
 ('high', 458),
 ('share', 457),
 ('nifty', 455),
 ('trump', 454),
 ('business', 447),
 ('can', 446),
 ('they', 444),
 ('loss', 444),
 ('report', 443),
 ('cent', 442),
 ('who', 441),
 ('most', 438),
 ('time', 437),
 ('people', 436),
 ('his', 429),
 ('buy', 428),
 ('uk', 421),
 ('but', 418),
 ('years', 415),
 ('two', 414),
 ('operating', 413),
 ('markets', 412),
 ('international', 411),
 ('no', 409),
 ('could', 408),
 ('demand', 408),
 ('data', 406),
 ('gold', 406),
 ('deal', 388),
 ('price', 386),
 ('or', 385),
 ('systems', 382),
 ('period', 381),
 ('he', 379),
 ('ceo', 379),
 ('2009', 374),
 ('growth', 368),
 ('m', 368),
 ('other', 367),
 ('off', 366),
 ('2008', 362),
 ('were', 358),
 ('would', 357),
 ('sebi', 357),
 ('day', 355),
 ('investors', 355),
 ('mln', 352),
 ('president', 351),
 ('russia', 343),
 ('1', 342),
 ('also', 339),
 ('prices', 339),
 ('facebook', 338),
 ('google', 338),
 ('10', 336),
 ('some', 334),
 ('court', 332),
 ('5', 332),
 ('q1', 330),
 ('discovery', 327),
 ('2', 326),
 ('finland', 326),
 ('cr', 324),
 ('fall', 323),
 ('euro', 320),
 ('today', 319),
 ('q2', 316),
 ('australian', 315),
 ('media', 313),
 ('popular', 313),
 ('had', 312),
 ('futures', 311),
 ('sell', 307),
 ('good', 305),
 ('just', 304),
 ('ltd', 303),
 ('trade', 301),
 ('plans', 301),
 ('russian', 300),
 ('american', 299),
 ('we', 299),
 ('korea', 298),
 ('2007', 298),
 ('3', 297),
 ('results', 296),
 ('police', 294),
 ('make', 294),
 ('hit', 293),
 ('industry', 291),
 ('under', 290),
 ('sensex', 290),
 ('you', 288),
 ('stake', 287),
 ('last', 287),
 ('end', 287),
 ('ipo', 287),
 ('back', 285),
 ('20', 285),
 ('technology', 284),
 ('how', 283),
 ('microsoft', 282),
 ('dollar', 280),
 ('alphabet', 279),
 ('q3', 277),
 ('united', 277),
 ('earnings', 277),
 ('next', 274),
 ('farmers', 273),
 ('s', 273),
 ('2010', 271),
 ('since', 270),
 ('view', 269),
 ('vaccine', 266),
 ('say', 265),
 ('get', 265),
 ('security', 265),
 ('state', 263),
 ('q4', 263),
 ('before', 260),
 ('according', 258),
 ('investment', 258),
 ('during', 257),
 ('like', 256),
 ('de', 255),
 ('former', 255),
 ('likely', 254),
 ('low', 254),
 ('including', 253),
 ('hits', 253),
 ('biggest', 252),
 ('order', 252),
 ('european', 252),
 ('ban', 252),
 ('found', 251),
 ('ahead', 251),
 ('oyj', 250),
 ('change', 249),
 ('support', 249),
 ('citizens', 249),
 ('south', 248),
 ('home', 248),
 ('country', 248),
 ('week', 247),
 ('should', 243),
 ('through', 243),
 ('take', 243),
 ('climate', 243),
 ('indian', 242),
 ('use', 240),
 ('north', 239),
 ('software', 239),
 ('sale', 239),
 ('if', 238),
 ('system', 238),
 ('4', 238),
 ('rise', 238),
 ('reports', 237),
 ('target', 236),
 ('ericsson', 236),
 ('lower', 236),
 ('online', 233),
 ('record', 232),
 ('major', 232),
 ('months', 232),
 ('set', 231),
 ('tech', 229),
 ('what', 228),
 ('solar', 228),
 ('trading', 227),
 ('sector', 227),
 ('pc', 227),
 ('percent', 226),
 ('between', 225),
 ('our', 225),
 ('board', 225),
 ('near', 225),
 ('national', 223),
 ('second', 223),
 ('gaming', 223),
 ('rights', 221),
 ('banks', 221),
 ('part', 220),
 ('gas', 220),
 ('ashwani', 220),
 ('rupee', 220),
 ('compared', 219),
 ('internet', 219),
 ('levels', 219),
 ('gujral', 219),
 ('made', 218),
 ('products', 217),
 ('being', 217),
 ('smith', 216),
 ('help', 215),
 ('i', 215),
 ('countries', 214),
 ('key', 214),
 ('expected', 214),
 ('because', 213),
 ('so', 212),
 ('pharma', 212),
 ('post', 212),
 ('space', 211),
 ('air', 211),
 ('city', 211),
 ('15', 211),
 ('making', 210),
 ('sp', 210),
 ('operations', 209),
 ('charles', 209),
 ('service', 209),
 ('your', 208),
 ('falls', 208),
 ('german', 208),
 ('research', 208),
 ('public', 207),
 ('states', 207),
 ('6', 207),
 ('100', 206),
 ('8', 206),
 ('federal', 206),
 ('move', 205),
 ('largest', 205),
 ('only', 205),
 ('nearly', 202),
 ('gains', 202),
 ('well', 201),
 ('chief', 201),
 ('noodles', 201),
 ('focus', 200),
 ('street', 200),
 ('auto', 199),
 ('dave', 199),
 ('three', 198),
 ('c', 198),
 ('around', 197),
 ('mobile', 197),
 ('plan', 196),
 ('stop', 195),
 ('tesla', 195),
 ('war', 194),
 ('rally', 193),
 ('long', 192),
 ('contract', 192),
 ('plant', 192),
 ('rises', 192),
 ('money', 191),
 ('firm', 191),
 ('them', 191),
 ('workers', 190),
 ('march', 190),
 ("''", 189),
 ('show', 188),
 ('fund', 188),
 ('2006', 188),
 ('higher', 187),
 ('go', 187),
 ('value', 187),
 ('seen', 187),
 ('cut', 186),
 ('while', 186),
 ('when', 186),
 ('pay', 185),
 ('amazon', 185),
 ('weak', 185),
 ('canada', 184),
 ('hong', 184),
 ('healthcare', 184),
 ('see', 183),
 ('management', 183),
 ('total', 183),
 ('coronavirus', 182),
 ('big', 182),
 ('increased', 182),
 ('points', 181),
 ('nokia', 181),
 ('health', 180),
 ('man', 179),
 ('used', 179),
 ('video', 179),
 ('free', 179),
 ('30', 179),
 ('12', 178),
 ('offer', 178),
 ('drug', 178),
 ('bond', 178),
 ('ss', 178),
 ('call', 177),
 ('issue', 177),
 ('exchange', 177),
 ('water', 177),
 ('mitesh', 177),
 ('thacker', 177),
 ('five', 176),
 ('strong', 175),
 ('due', 175),
 ('googul', 175),
 ('bonds', 175),
 ('japan', 174),
 ('foreign', 174),
 ('kong', 174),
 ('customers', 173),
 ('announced', 173),
 ('credit', 172),
 ('unit', 172),
 ('bill', 171),
 ('production', 171),
 ('worth', 171),
 ('below', 171),
 ('minister', 171),
 ('helsinki', 171),
 ('do', 170),
 ('australia', 169),
 ('open', 169),
 ('eu', 168),
 ('europe', 167),
 ('technologies', 167),
 ('nasdaq', 167),
 ('7', 167),
 ('raise', 165),
 ('among', 165),
 ('third', 165),
 ('friday', 165),
 ('head', 164),
 ('life', 164),
 ('human', 163),
 ('tax', 163),
 ("world's", 163),
 ('2014', 163),
 ('beyond', 163),
 ('abc', 163),
 ('supply', 162),
 ('50', 162),
 ('best', 162),
 ('analysis', 162),
 ('broadcasting', 162),
 ('asia', 161),
 ('still', 161),
 ('any', 161),
 ('ibm', 161),
 ('live', 160),
 ('increase', 160),
 ('house', 159),
 ('there', 159),
 ('covid19', 159),
 ('way', 159),
 ('food', 158),
 ('british', 158),
 ('why', 158),
 ('banking', 158),
 ('solutions', 158),
 ('corresponding', 158),
 ('canadian', 157),
 ('military', 157),
 ('steel', 157),
 ('joint', 157),
 ('where', 156),
 ('buying', 156),
 ('industries', 156),
 ('network', 155),
 ('case', 155),
 ('crisis', 155),
 ('her', 155),
 ('israel', 154),
 ('corp', 154),
 ('development', 153),
 ('sony', 153),
 ('using', 152),
 ('attack', 152),
 ('even', 152),
 ('securities', 152),
 ('nuclear', 151),
 ('employees', 151),
 ('times', 151),
 ('four', 151),
 ('germany', 151),
 ('agreement', 151),
 ('building', 150),
 ('sanofi', 150),
 ('firms', 149),
 ('information', 149),
 ('half', 149),
 ('coal', 149),
 ('rallies', 149),
 ('project', 148),
 ('review', 148),
 ('slips', 148),
 ('number', 147),
 ('phone', 147),
 ('despite', 146),
 ('director', 146),
 ('goldman', 145),
 ('policy', 145),
 ('revenue', 145),
 ('lead', 145),
 ('25', 145),
 ('surges', 145),
 ('cues', 145),
 ('line', 144),
 ('giant', 144),
 ('france', 144),
 ('officials', 144),
 ('intel', 144),
 ('current', 144),
 ('dow', 144),
 ('communications', 144),
 ('11', 143),
 ('launch', 143),
 ('flat', 143),
 ('500', 142),
 ('donald', 142),
 ('social', 142),
 ('calls', 142),
 ('premier', 142),
 ('bse', 142),
 ('face', 141),
 ('visa', 141),
 ('same', 141),
 ('9', 141),
 ('monday', 141),
 ('johnson', 140),
 ('days', 140),
 ('netflix', 140),
 ('fire', 140),
 ('earlier', 140),
 ('close', 139),
 ('law', 139),
 ('continue', 139),
 ('french', 138),
 ('maker', 138),
 ('gets', 137),
 ('cisco', 137),
 ('look', 137),
 ('rate', 135),
 ('sachs', 135),
 ('posts', 135),
 ('walmart', 135),
 ('gain', 135),
 ('ever', 134),
 ('saudi', 134),
 ('appoints', 134),
 ('amid', 134),
 ('action', 134),
 ('result', 134),
 ('finance', 134),
 ('give', 134),
 ('such', 133),
 ('wednesday', 133),
 ("china's", 133),
 ('boeing', 133),
 ('small', 132),
 ('via', 132),
 ('israeli', 132),
 ('announces', 132),
 ('18', 132),
 ('construction', 132),
 ('chevron', 132),
 ('decreased', 132),
 ('west', 131),
 ('chairman', 131),
 ('shows', 131),
 ('own', 131),
 ('going', 131),
 ('funds', 131),
 ('latest', 130),
 ('2015', 130),
 ('deepak', 130),
 ('accused', 129),
 ('scientists', 129),
 ('term', 129),
 ('cash', 128),
 ('my', 128),
 ('cocacola', 128),
 ('infosys', 128),
 ('users', 127),
 ('test', 127),
 ('jobs', 127),
 ('access', 127),
 ('iran', 127),
 ('central', 127),
 ('product', 127),
 ('forecast', 127),
 ('wall', 127),
 ('level', 127),
 ('positive', 126),
 ('fossil', 126),
 ('tripadvisor', 125),
 ('executive', 125),
 ('pm', 125),
 ('rules', 125),
 ('tv', 125),
 ('become', 125),
 ('watch', 125),
 ('john', 125),
 ('selling', 124),
 ('rating', 124),
 ('london', 124),
 ('very', 124),
 ('remain', 124),
 ('tata', 124),
 ('institutions', 124),
 ('hel', 124),
 ('un', 123),
 ("it's", 123),
 ('killed', 122),
 ('daily', 122),
 ('tuesday', 122),
 ('index', 122),
 ('study', 122),
 ('jumps', 122),
 ('rose', 122),
 ('14', 122),
 ('above', 121),
 ('drop', 121),
 ('right', 121),
 ('work', 121),
 ('further', 121),
 ('need', 121),
 ('debt', 120),
 ('16', 120),
 ('many', 120),
 ('nike', 120),
 ('drops', 120),
 ('prince', 120),
 ('september', 120),
 ('2005', 120),
 ('fuel', 119),
 ('moves', 119),
 ('17', 119),
 ('prime', 119),
 ('short', 119),
 ('airbnb', 119),
 ('rbi', 119),
 ('across', 118),
 ('future', 118),
 ('agency', 118),
 ('infrastructure', 118),
 ('fresh', 118),
 ("'", 118),
 ('real', 118),
 ('marriott', 118),
 ('launches', 117),
 ('following', 117),
 ('40', 117),
 ('almost', 117),
 ('app', 117),
 ('thursday', 117),
 ('reported', 117),
 ('land', 117),
 ('start', 117),
 ('early', 117),
 ('takes', 117),
 ('projects', 117),
 ('plc', 117),
 ('pct', 117),
 ('strike', 116),
 ('2020', 116),
 ('disney', 116),
 ('pressure', 115),
 ('co', 115),
 ('washington', 115),
 ('royal', 115),
 ('office', 115),
 ('ends', 115),
 ('surge', 115),
 ('insurance', 115),
 ('range', 115),
 ('brexit', 114),
 ('advertising', 114),
 ('both', 114),
 ('away', 114),
 ('digital', 114),
 ('medical', 113),
 ('claims', 113),
 ('mcdonalds', 113),
 ('vs', 113),
 ('june', 113),
 ('mcafee', 113),
 ('local', 112),
 ('trends', 112),
 ('steady', 112),
 ('ebay', 112),
 ('extraction', 112),
 ('nazi', 112),
 ('white', 111),
 ('april', 111),
 ('13', 111),
 ('equipment', 111),
 ('makes', 111),
 ('spy', 111),
 ('arrested', 111),
 ('usa', 111),
 ('interest', 110),
 ('party', 110),
 ('pepsico', 110),
 ('meeting', 110),
 ('fell', 110),
 ('usd', 110),
 ('leader', 109),
 ('cuts', 109),
 ('sea', 109),
 ('express', 109),
 ('another', 109),
 ('investigation', 109),
 ('roku', 109),
 ('model', 109),
 ('ago', 109),
 ('these', 109),
 ('much', 109),
 ('ab', 109),
 ('retail', 108),
 ('orders', 108),
 ('called', 108),
 ('googulxyz', 108),
 ('worlds', 108),
 ('private', 108),
 ('acquisition', 108),
 ('paper', 108),
 ('moderna', 108),
 ('based', 108),
 ('travelers', 108),
 ('december', 108),
 ('3m', 107),
 ('raises', 107),
 ('month', 107),
 ('experts', 107),
 ('release', 107),
 ('meat', 107),
 ('better', 107),
 ('opera', 106),
 ('sold', 106),
 ('outlook', 106),
 ('economic', 106),
 ('site', 105),
 ('uber', 105),
 ('players', 105),
 ('too', 105),
 ('again', 105),
 ('cement', 105),
 ('clean', 105),
 ('totestravel', 105),
 ('interface', 105),
 ('boris', 104),
 ('growing', 104),
 ('within', 104),
 ('qa', 104),
 ('without', 104),
 ('salesforce', 104),
 ('renewable', 103),
 ('cost', 103),
 ('area', 103),
 ('general', 103),
 ('official', 103),
 ('thousands', 103),
 ('negative', 103),
 ('boost', 103),
 ('lyft', 103),
 ('omx', 103),
 ('put', 102),
 ('won', 102),
 ('iphone', 102),
 ('program', 102),
 ('list', 102),
 ('korean', 102),
 ('slam', 102),
 ('dividend', 102),
 ('build', 101),
 ('california', 101),
 ('decision', 101),
 ('working', 101),
 ('least', 101),
 ('costs', 101),
 ('africa', 101),
 ('death', 101),
 ('sugar', 101),
 ('depot', 101),
 ('ammo', 101),
 ('root', 101),
 ('gopro', 101),
 ('black', 100),
 ('trial', 100),
 ('electronics', 100),
 ('holdings', 100),
 ('asian', 100),
 ('gan', 100),
 ('woodward', 100),
 ('sandeep', 100),
 ('caign', 99),
 ('size', 99),
 ('told', 99),
 ('solution', 99),
 ('dead', 99),
 ('lawsuit', 99),
 ('october', 99),
 ('team', 99),
 ('twitter', 99),
 ('authorities', 99),
 ('caterpillar', 99),
 ('hold', 99),
 ('members', 99),
 ('woman', 99),
 ('xp', 99),
 ('economy', 98),
 ('annual', 98),
 ('offers', 98),
 ('force', 98),
 ('staff', 98),
 ('22', 98),
 ('warning', 98),
 ('risk', 98),
 ('election', 98),
 ('dropbox', 98),
 ('great', 97),
 ('factory', 97),
 ('wants', 97),
 ('deals', 97),
 ('provide', 97),
 ('here', 97),
 ('la', 96),
 ('fears', 96),
 ('keep', 96),
 ('2016', 96),
 ('press', 96),
 ('legal', 96),
 ('industrial', 96),
 ('aapl', 96),
 ('large', 96),
 ('available', 95),
 ('buys', 95),
 ('airlines', 95),
 ('find', 95),
 ('sees', 95),
 ('windows', 95),
 ('concerns', 94),
 ('losses', 94),
 ('judge', 94),
 ('those', 94),
 ('23', 94),
 ('january', 94),
 ('111', 94),
 ('travel', 93),
 ('want', 93),
 ('fight', 93),
 ('hotels', 93),
 ('2011', 93),
 ('point', 93),
 ('decline', 93),
 ('n', 93),
 ('dips', 93),
 ('weeks', 92),
 ('history', 92),
 ('recovery', 92),
 ('goes', 92),
 ('education', 92),
 ('car', 92),
 ('reliance', 92),
 ('j', 92),
 ('intrusion', 92),
 ('nse', 92),
 ('19', 91),
 ('union', 91),
 ('euros', 91),
 ('america', 91),
 ('income', 91),
 ('networks', 91),
 ('looks', 91),
 ('ptc', 91),
 ('mohoni', 91),
 ('control', 90),
 ('sells', 90),
 ('looking', 90),
 ('brazil', 90),
 ('already', 90),
 ('significant', 89),
 ('potential', 89),
 ('others', 89),
 ('plants', 89),
 ('shareholders', 89),
 ('silver', 89),
 ('wagle', 89),
 ('block', 88),
 ('jet', 88),
 ('position', 88),
 ('analysts', 88),
 ('include', 88),
 ('murder', 88),
 ('govt', 87),
 ('launched', 87),
 ('charges', 87),
 ('corporate', 87),
 ('talks', 87),
 ('brands', 87),
 ('merck', 87),
 ('garmin', 87),
 ('wind', 87),
 ('ftse', 87),
 ('manufacturing', 86),
 ('behind', 86),
 ('estimates', 86),
 ('independent', 86),
 ('crude', 86),
 ('ukraine', 86),
 ('35', 86),
 ('issues', 86),
 ('run', 86),
 ('book', 86),
 ('bullish', 86),
 ('yuan', 86),
 ('flex', 86),
 ('oy', 86),
 ('infra', 86),
 ('huge', 85),
 ('possible', 85),
 ('intelligence', 85),
 ('warns', 85),
 ('secret', 85),
 ('signed', 85),
 ('six', 85),
 ('p', 85),
 ('choksey', 85),
 ('old', 84),
 ('store', 84),
 ('website', 84),
 ('hackers', 84),
 ('millions', 84),
 ('holding', 84),
 ('picks', 84),
 ('banned', 83),
 ('morgan', 83),
 ('bid', 83),
 ('must', 83),
 ('profits', 83),
 ('200', 83),
 ('hopes', 83),
 ('nine', 83),
 ('housing', 83),
 ('sites', 83),
 ('bet', 83),
 ('details', 82),
 ('reviews', 82),
 ('children', 82),
 ('syria', 82),
 ('max', 82),
 ('spot', 82),
 ('protest', 82),
 ('few', 82),
 ('known', 81),
 ('released', 81),
 ('vote', 81),
 ('pollution', 81),
 ('far', 81),
 ('political', 81),
 ('know', 81),
 ('full', 81),
 ('honeywell', 81),
 ('que', 81),
 ('stay', 81),
 ('region', 81),
 ('expects', 81),
 ('upside', 81),
 ('mehta', 81),
 ('60', 80),
 ('supreme', 80),
 ('soon', 80),
 ('resources', 80),
 ('traffic', 80),
 ('worst', 80),
 ('fine', 80),
 ('bets', 80),
 ('august', 80),
 ('nestle', 80),
 ('finds', 80),
 ('motors', 80),
 ('currency', 80),
 ('irish', 80),
 ('does', 80),
 ('longterm', 80),
 ('green', 79),
 ('marketing', 79),
 ('charged', 79),
 ('27', 79),
 ('paris', 79),
 ('outside', 79),
 ('each', 79),
 ('st', 79),
 ('engineering', 79),
 ('performance', 79),
 ('natural', 79),
 ('cancer', 78),
 ('paid', 78),
 ('poor', 78),
 ('signs', 78),
 ('palestinian', 78),
 ('star', 78),
 ('red', 78),
 ('telecom', 78),
 ('february', 78),
 ('mining', 77),
 ('holds', 77),
 ('coming', 77),
 ('administration', 77),
 ('york', 77),
 ('hike', 77),
 ('game', 77),
 ('worldwide', 77),
 ('tcs', 77),
 ('turn', 76),
 ('lost', 76),
 ('every', 76),
 ('urban', 76),
 ('held', 76),
 ('developed', 76),
 ('limited', 76),
 ...]

In [474]:
len(sorted_words)

37478

In [475]:
words_sum = sum([b for a, b in sorted_words])
words_sum

507767

In [476]:
nums = [50, 100, 250, 500, 1000, 2500, 5000, 10000, 25000]
for num in nums:
    ans = sum([b for a, b in sorted_words[:num]]) / words_sum * 100
    print(f"top{num}: ", ans)

top50:  27.576427771005207
top100:  33.009037609769834
top250:  41.99938160613037
top500:  50.86013860688071
top1000:  61.078408009973074
top2500:  74.65313815194764
top5000:  83.78882440174333
top10000:  91.06657187253208
top25000:  97.54257366075385

we can improve this by using lemmatization

In [477]:
import nltk

nltk.download('wordnet')
nltk.download('punkt')

from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

# lemmatizer = WordNetLemmatizer()

# def lemmatize(text: str) -> str:
#     words = word_tokenize(text)
#     return ' '.join([lemmatizer.lemmatize(word) for word in words])

# lemmatize("i love reading the books")

word_tokenize("I love reading the books")

[nltk_data] Downloading package punkt to /home/kuba/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/kuba/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/home/kuba/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/share/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
    - 'nltk_data'
    - 'nltk_data'
    - 'nltk_data'
    - 'nltk_data'
    - '/mnt/c/Users/jakub/programowanie/greatProjeckts/AI-trader/nlp/notebooks /nltk_data'
**********************************************************************

In [ ]:
it seems that it's enoug to use only 5000 most common words to tran the model

In [ ]:
df['Headline'] = df['Headline'].map(lemmatize)
df

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/home/kuba/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/share/nltk_data'
    - '/home/kuba/miniconda3/envs/nlp/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

In [ ]:
words = {}
for column in df['Headline']:
    for word in column.split(): 
        words[word] = words.get(word, 0) + 1

sorted_words = sorted(words.items(), key=lambda x: x[1], reverse=True)
words_sum = sum([b for a, b in sorted_words])

nums = [50, 100, 250, 500, 1000, 2500, 5000, 10000, 25000]
for num in nums:
    ans = sum([b for a, b in sorted_words[:num]]) / words_sum * 100
    print(f"top{num}: ", ans)

top50:  27.576427771005207
top100:  33.009037609769834
top250:  41.99938160613037
top500:  50.86013860688071
top1000:  61.078408009973074
top2500:  74.65313815194764
top5000:  83.78882440174333
top10000:  91.06657187253208
top25000:  97.54257366075385